*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color-black: #152427;
    --primary-color-black-green: #143c3c;
    --text-color-black-gray: #575d5e;
    --text-color-light-gray: #7d8188;
    --secondary-color-light-green: #e2eddf;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Common */
a {
    text-decoration: none;
}

input,
select,
option,
textarea {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    --height: 57px;

    display: inline-block;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 999px;
    color: #fff;
    background: var(--primary-color-black-green);
    border-color: var(--primary-color-black-green);
    outline: none;
    user-select: none;
}

.btn:hover {
    opacity: 0.9;
}

.cliptext {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.line-clamp-2 {
    --line-clamp: 2;
}

.line-clamp-3 {
    --line-clamp: 3;
}

.section-label {
    display: inline-flex;
    align-items: center;
    column-gap: 21px;
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.section-label::before {
    content: "";
    display: block;
    width: 25px;
    height: 1px;
    background: var(--primary-color-black, #152427);
}

.section-heading {
    margin-top: 12px;
    max-width: 520px;
    color: var(--primary-color-black, #152427);
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.section-heading::after {
    content: "";
    position: relative;
    top: -10px;
    left: 11px;
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--primary-color-black, #152427);
}

.section-desc {
    margin-top: 11px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.control {
    display: flex;
    column-gap: 17px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: #152427;
    background: var(--secondary-color-light-green);
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    transition: 0.25s;
}

.control__btn:hover {
    color: #fff;
    background: var(--primary-color-black-green);
}

.control__icon-right {
    rotate: 180deg;
}

/* Header */
.header {
    margin-top: 15px;
    padding: 13px 0;
    background: #fff;
    font-family: "Public Sans", sans-serif;
}

.header.fixed {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header__row::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #fff 0%, #dddcdc 51.09%, rgba(212, 212, 212, 0) 99.68%);
}

.header__row {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    position: relative;
    display: flex;
    align-items: center;
}

.navbar__link {
    color: var(--text-color-black-gray);
    padding: 8px 19px;
    font-size: 1.8rem;
    line-height: 1.55;
    font-weight: 500;
}

.navbar__link:hover,
.navbar__item--active > .navbar__link {
    color: var(--primary-color-black);
}

.navbar__line {
    position: absolute;
    bottom: -28px;
    left: 0;
    display: block;
    width: 16px;
    height: 2px;
    background: #143c3c;
    transform: translateX(19px);
    transition: 0.25s;
}

.action__btn {
    margin-left: 69px;
    text-transform: capitalize;
}

/* Hero */
.hero {
    margin: 60px 0 130px 0;
    font-family: "Public Sans", sans-serif;
}

.hero__row {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.hero__content {
    margin-top: 43px;
    width: 34%;
}

.hero__heading {
    max-width: 368px;
    color: var(--primary-color-black, #152427);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.hero__row {
    display: flex;
    column-gap: 36px;
    margin-top: 42px;
}

.hero-video__btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 14px;
}

.hero-video__btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -4px;
    z-index: -1;
    display: inline-block;
    width: 28px;
    height: 59px;
    transform: translateY(-50%);
    background-image: url(../img/half-circle.svg);
}

.hero-video__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    margin-left: 3px;
    border-radius: 50%;
    color: #fef6fb;
    background: #83a17d;
}

.hero-video__text {
    color: #152427;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    text-align: center;
    text-transform: capitalize;
}

.hero-video__text:hover {
    opacity: 0.9;
}

.hero__images {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    width: 56%;
}

.hero__images::before,
.about__image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 53%;
    padding-top: 53%;
    transform: translate(-50%, -50%);
    background: #4dbb9a;
    filter: blur(100px);
    border-radius: 50%;
}

.hero__img {
    display: block;
    width: 100%;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    transition: 0.25s;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.flower__layer {
    position: absolute;
    width: 545px;
    height: 360px;
}

.flower__layer--top {
    left: 22%;
}

.flower__layer::before,
.flower__layer::after {
    content: "";
    position: absolute;
    display: inline-block;
}

.flower__layer::before {
    width: 72px;
    height: 72px;
    z-index: 1;
    background-image: url(../img/flower.png);
}

.flower__layer::after {
    width: 100%;
    height: 100%;
    background-image: url(../img/flower-layer.png);
}

.flower__layer--top::before {
    top: 0;
    left: 0;
}

.flower__layer--top::after {
    top: -40px;
    left: 34px;
    rotate: 186deg;
}

.flower__layer--bottom,
.flower__layer--bottom::before {
    bottom: 0;
    right: 0;
}

.hero .flower__layer--bottom::after {
    rotate: 22deg;
    right: -20px;
}

/* Member */
.member__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 76px 121px;
    border-radius: 999px;
    background: var(--secondary-color-light-green, #e2eddf);
}

.member__item {
    display: flex;
    align-items: center;
}

.member__item-google {
    color: var(--primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 3.1rem;
    font-weight: 500;
}

.member__item-slack {
    color: var(--primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 3.2rem;
    font-weight: 600;
}

.member__item-agworld {
    column-gap: 11px;
    color: #163c35;
    font-family: Poppins;
    font-size: 2.6rem;
    font-weight: 400;
}

.member__item-riotinto {
    color: var(--primary-color-black-green, #143c3c);
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
}

.member__item-heroku {
    column-gap: 8px;
    color: var(--primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* Service */
.service {
    padding: 106px 0 149px 0;
}

.service__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.service .control {
    margin: 0 73px 9px 0;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.service-item {
    border-radius: 20px;
    transition: 0.25s;
    overflow: hidden;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__content {
    padding: 24px 18px;
    background: #fff;
}

.service-item__thumb {
    overflow: hidden;
}

.service-item__img {
    display: block;
    width: 100%;
    height: 318px;
    object-fit: cover;
    transition: transform 0.25s;
}

.service-item__img:hover {
    transform: scale(1.1);
}

.service-item__content {
    padding: 24px 0;
    transition: 0.25s;
}

.service-item__title a {
    display: block;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--primary-color-black, #152427);
}

.service-item__desc {
    margin-top: 18px;
    max-width: 268px;
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* About */
.about {
    padding-bottom: 115px;
}

.about__row {
    display: flex;
}

.about__image {
    position: relative;
    display: flex;
    width: 52%;
    column-gap: 20px;
}

.about__img {
    display: block;
    width: 284px;
    height: 480px;
    border-radius: 999px;
    object-fit: cover;
}

.about__img:first-child {
    margin-top: 90px;
}

.about__content {
    margin-left: auto;
    width: 43%;
}

/* About design */
.about-design {
    position: absolute;
    right: -9px;
    bottom: 8px;
    padding: 18px 22px 12px 22px;
    border-radius: 8px;
    background: #fff;
    font-family: "Public Sans";
    transition: 0.25s;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-design__title {
    color: var(--primary-color-black, #152427);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about-design__desc {
    margin-top: 6px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.about-design__percent {
    margin-top: 10px;
    color: var(--primary-color-black, #152427);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-design__rage {
    position: relative;
    margin-top: 3px;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about-design__range-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    border-radius: 10px;
    background: #83a17d;
}

.about-design__loading {
    margin-top: 3px;
    color: var(--primary-color-black, #152427);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: right;
}

.about-design__symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.about-design__symbol::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #143c3c;
}

.about-design_team {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-design__label {
    color: var(--primary-color-black, #152427);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-design__image {
    display: flex;
}

.about__design-img {
    display: block;
    margin-left: -6px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
}

.about__design-img:first-child {
    margin-left: 0;
}

.about .flower__layer--top {
    left: 46px;
}

.about .flower__layer--top::after {
    top: 3px;
    left: 10px;
    rotate: 197deg;
}

.about-desc {
    margin-top: 11px;
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.about__number-item {
    margin-top: 36px;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.about__number-title {
    color: var(--primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.about__number-desc {
    margin-left: auto;
    max-width: 364px;
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* Process */
.process {
    padding-bottom: 148px;
}

.process-steps {
    margin-top: 81px;
}

.process-steps__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 50px 20px;
    transition: 0.25s;
    border-bottom: 1px solid #83a17d;
}

.process-steps__item:hover {
    padding: 50px 30px;
    border-radius: 33px;
    border: none;
    background: var(--secondary-color-light-green, #e2eddf);
}

.process-steps__number {
    color: var(--primary-color-black-green, #143c3c);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72;
}

.process-steps__wrap {
    margin-left: 50px;
}

.process-steps__title {
    margin-top: 40px;
    color: var(--primary-color-black, #152427);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process-steps__more {
    display: inline-block;
    margin-top: 22px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
    text-underline-offset: 4px;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
}

.process-steps__more:hover {
    opacity: 0.9;
}

.process-steps__item:hover .process-steps__more {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.process-steps__img {
    position: absolute;
    right: 92px;
    bottom: 0;
    display: block;
    width: 450px;
    height: 444px;
    object-fit: contain;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6);
    transition: 0.6s;
    transform-origin: 50% 100%;
}

.process-steps__item:hover .process-steps__img {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.process-steps__desc {
    margin-left: auto;
    max-width: 560px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    opacity: 1;
    visibility: visible;
    transition: 0.25s;
}

.process-steps__item:hover .process-steps__desc {
    opacity: 0;
    visibility: hidden;
}

/* Section Video */
.section-video {
    padding: 116px 0 63px 0;
    background: var(--primary-color-black-green, #143c3c);
}

.section-video__wrap {
    position: relative;
}

.section-video__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-video__heading {
    margin-top: 0;
    color: #fff;
}

.section-video__heading::after {
    background: #fff;
}

.section-video__desc {
    max-width: 568px;
    color: var(--secondary-color-gray, #6a8383);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.section-video__link {
    display: inline-block;
    margin-top: 13px;
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.section-video__link:hover {
    opacity: 0.9;
}

.section-video__link-icon {
    margin-left: 26px;
    rotate: 180deg;
    color: #80a07b;
}

.section-video__thumbnail {
    position: relative;
    margin-top: 65px;
}

.section-video__img {
    display: block;
    width: 100%;
    height: 544px;
    border-radius: 22px;
    object-fit: cover;
}

.section-video__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
}

/* Feature */
.feature {
    padding: 140px 0 92px 0;
}

.feature__heading {
    margin: 0 auto;
    text-align: center;
}

.feature__heading::after {
    display: none;
}

.feature__desc {
    margin: 20px auto 0 auto;
    max-width: 547px;
    color: var(--text-color-light-gray, #7d8188);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.feature__list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 42px;
    width: 350px;
    height: 362px;
    border-radius: 50%;
    border: 1.5px solid #cecece;
    transition: 0.25s;
}

.feature-item:hover {
    border: none;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    transform: translateY(-60px);
}

.feature-item__title {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.feature-item__desc {
    margin-top: 10px;
    color: var(--text-color-light-gray, #7d8188);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* Blog */
.blog {
    padding: 92px 0 102px 0;
}

.blog__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    max-width: 552px;
}

.blog__desc {
    max-width: 409px;
}

.blog__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog-item {
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    transition: 0.25s;
}

.blog-item:hover {
    transform: translateY(-8px);
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__tag {
    color: #fff;
    background: var(--primary-color-black-green, #143c3c);
}

.blog-item__img {
    display: block;
    width: 100%;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0 0;
}

.blog-item__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 26px 30px 12px;
}

.blog-item__tag {
    display: inline-block;
    align-self: flex-start;
    padding: 7px 34px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 999px;
    transition: 0.25s;
    color: #000;
    background: var(--secondary-color-light-green, #e2eddf);
}

.blog-item__title {
    display: block;
    margin: 12px 0 16px 0;
    color: var(--primary-color-black-green, #143c3c);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.blog-item__date {
    display: block;
    margin-top: auto;
    padding-top: 10px;
    text-align: right;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    border-top: 1px solid #c4c4c4;
}

/* Footer */
.footer {
    padding-top: 72px;
    background: var(--primary-color-black-green, #143c3c);
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.12fr 0.12fr 0.12fr 0.12fr;
    column-gap: 50px;
    padding-bottom: 45px;
}

.footer__heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
}

.footer-form__input {
    padding: 29px 0;
    color: #fff;
    outline: none;
    border: none;
    font-size: 2.2rem;
    background: transparent;
    border-bottom: 1px solid var(--secondary-color-gray, #6a8383);
}

.footer-form__input::placeholder {
    color: var(--secondary-color-gray, #6a8383);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.footer-form__submit {
    border: none;
    outline: none;
    background: transparent;
    color: #c4c4c4;
    cursor: pointer;
}

.footer-form__submit-icon {
    rotate: 180deg;
}

.footer-social {
    display: flex;
    column-gap: 22px;
    margin-top: 47px;
}

.footer-social__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    color: #fff;
    border: 1px solid rgba(38, 82, 82, 1);
    transition: 0.25s;
}

.footer-social__icon:hover {
    border-color: rgba(167, 83, 37, 1);
    background: rgba(167, 83, 37, 1);
}

.footer__column-heading {
    margin: 12px 0 6px 0;
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.footer-list__link {
    color: var(--secondary-color-gray, #6a8383);
    font-family: "Public Sans";
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25;
    transition: 0.25s;
}

.footer-list__link:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer__copyright {
    font-size: 1.4rem;
    color: var(--secondary-color-gray, #6a8383);
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
